$color-body: #1E152A;
$color-title: #F7DD72;
$color-text: #F3FFC6;

%inter-400 {
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
}
%elmessiri-800 {
    font-family: 'ElMessiri-Bold';
    font-weight: 800;
}
%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}
%dmsans-600 {
    font-family: 'DMSans-SemiBold', sans-serif;
    font-weight: 400;
}