@use 'reset';
@use 'fonts';
@use 'vars';
@use '../../node_modules/swiper/swiper-bundle.css';
@use 'global';
@use 'media';

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.anim-line a {
  position: relative;
}

.anim-line a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: vars.$color-title;
  transition: width 0.3s ease, left 0.3s ease;
}

.anim-line a:hover::before {
  width: 100%;
  left: 0;
}

.anim-btn a:hover {
  background-color: vars.$color-title;
}

.anim-svg svg:hover {
  scale: 1.2;
  margin-bottom: 15px;
  transition: scale .3s, margin-bottom .3s;
}

body {
  font-size: 20px;
  line-height: 1;
  @extend %dmsans-400;
  color: vars.$color-text;
  background-color: vars.$color-body;
}

.title-main {
  @extend %elmessiri-800;
  font-size: 56px;
  margin-bottom: 32px;
  color: vars.$color-title;
  text-align: center;
}

.header {
  margin-bottom: 110px;
  position: relative;

  &__top {
    font-size: 16px;
    margin: 40px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {}

  &__order-btn {
    margin-left: 40px;
    padding: 16px 27px;
    border-radius: 30px;
    background-color: vars.$color-title;
    font-size: 18px;
    transition: background-color .4s;
  }

  &__order-btn:hover {
    background-color: vars.$color-text;
  }

  &__order-link {}

  &__contant {
    height: 680px;
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    max-width: 860px;
  }

  &__text {
    margin-bottom: 32px;
    max-width: 480px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.8;
    @extend %dmsans-600;
  }

  &__link {
    display: inline-block;
    padding: 24px 36px;
    color: vars.$color-body;
    background-color: vars.$color-text;
    border-radius: 40px;
    transition: background-color .4s;
  }
}

.menu {
  margin-left: auto;

  &__list {
    display: flex;
    gap: 40px;
  }

  &__items {}

  &__link {
    color: vars.$color-text;
  }

  &__btn {
    display: none;
    position: relative;
    width: 25px;
    height: 15px;
    border: 0;
    padding: 0;
    margin-left: 15px;
    cursor: pointer;
    z-index: 5;

    span {
      display: block;
      height: 2px;
      background-color: vars.$color-title;
    }
  }

  &__btn::before,
  &__btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: vars.$color-title;
    transition: all .3s ease;
  }

  &__btn::before {
    top: 0;
  }

  &__btn::after {
    bottom: 0;
  }
}

.footer {
  padding-bottom: 80px;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    font-size: 16px;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 30px;
}

.aboutus {
  margin-bottom: 80px;

  &__contant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__titel {}

  &__titel3 {
    @extend %dmsans-600;
    font-size: 24px;
    margin-bottom: 32px;
    color: vars.$color-title;
    text-align: center;
  }

  &__list li {
    position: relative;

    &::before {
      content: '- ';
      position: absolute;
      left: -17px;
    }
  }

  &__items {
    line-height: 3;
    margin-bottom: 10px;
  }

  &__text {}

  &__link {
    padding: 24px;
    color: vars.$color-body;
    background-color: vars.$color-text;
    border-radius: 30px;
    text-align: center;
    align-self: center;
    transition: background-color .4s;
  }
}


.services {
  margin-bottom: 80px;

  &__contant {
    display: grid;
    grid-template-columns: minmax(150px, 306px) minmax(150px, auto) minmax(150px, 306px);
    grid-template-rows: repeat(2, auto);
    gap: 16px;

    picture {
      width: 100%;
    }

    picture img {
      border-radius: 31px;
      object-fit: cover;
      object-position: left center;
      width: 100%;
      height: 100%;
    }

    picture:nth-child(1),
    picture:nth-child(3) {
      max-height: 195px;
    }

    picture:nth-child(2) {
      max-height: 285px;
      margin-bottom: -90px;
    }

    picture:nth-child(4),
    picture:nth-child(6) {
      max-height: 320px;
    }

    picture:nth-child(5) {
      height: 235px;
      align-self: end;
    }
  }
}


.questions {
  margin-bottom: 80px;

  &__container {
    max-width: 1095px;
    padding: 0 10px;
    margin: 0 auto;
  }

  &__contant {
    .questions__title3 {
      &:not(:first-of-type) {
        margin-top: 40px;
      }
    }

    .questions__text {
      margin-top: 40px;
    }
  }
}

.reviews {
  margin-bottom: 80px;

  &__title {}

  &__contant {
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap: 15px;
  }

  &__item {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 20px;
    display: inline-block;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

    img {
      border-radius: 50%;
    }
  }

  &__user-box {}

  &__list {
    display: flex;
    align-items: center;
  }

  &__text {
    max-width: 310px;
    font-size: 16px;
    line-height: 1.2;
  }
}

.username {
  font-size: 16px;
}

.consultation {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 35px 0;
  background-image: url(../images/consultation-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;

  &__titel {
    margin-bottom: 0;
  }
}