@use 'reset';
@use 'fonts';
@use 'vars';
@use '../../node_modules/swiper/swiper-bundle.css';
@use 'global';
@use 'media';

body {
  font-size: 20px;
  line-height: 1;
  @extend %dmsans-400;
  color: vars.$color-text;
  background-color: vars.$color-body;
}

.title-main {
  @extend %elmessiri-800;
  font-size: 56px;
  margin-bottom: 32px;
  color: vars.$color-title;
  text-align: center;
}

.header {
  &__top {
    font-size: 16px;
    margin: 40px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {}

  &__order-btn {
    margin-left: 40px;
    padding: 16px 27px;
    border-radius: 30px;
    background-color: vars.$color-title;
    font-size: 18px;
  }

  &__order-link {}

  &__contant {
    height: 680px;
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    max-width: 860px;
  }
  
  &__text {
    margin-bottom: 32px;
    max-width: 480px;
    text-transform: uppercase;
    font-size: 24px;
    @extend %dmsans-600;
  }

  &__link {
    display: inline-block;
    padding: 24px 36px;
    color: vars.$color-body;
    background-color: vars.$color-text;
    border-radius: 40px;
  }
}

.menu {
  margin-left: auto;

  &__list {
    display: flex;
    gap: 40px;
  }

  &__items {}

  &__link {

    color: vars.$color-text;
  }
}